
<!-- 비밀글 비밀번호 -->

{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h3 class="my-3 border-bottom py-2">비밀번호 확인</h3>

    <form method="post" class="post-form my-3">
        <!-- CSRF 토큰 처리 -->
        {{ form.csrf_token }}

        <!-- 에러 처리 -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label for="posting_password">게시글 비밀번호</label>
            <input type="password" class="form-control" name="posting_password" id="posting_password" value="{{ form.posting_password.data or '' }}">
        </div>
        <button class="btn btn-primary" type="submit">비밀번호 확인</button>
    </form>
</div>


{% endblock %}
